@model List<IncomeTransactionTableModel>
@{
    ViewData["Title"] = "Stats";
}

<div class="row">
    
    <table id="IncomingsTransactions" class="table table-striped table-centered mb-0">
    <thead>
        <tr class="table-primary">
            <th>CurrencyAcronim</th>
            <th>Amount</th>
            <th>TransactionFee</th>
            <th>FromAddress</th>
            <th>ToAddress</th>
            <th>Date</th>
            <th>UserId</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.CurrencyAcronim
                </td>
                <td>
                    @item.Amount
                </td>
                <td>
                    @item.TransactionFee
                </td>
                <td>
                    @item.FromAddress
                </td>
                <td>
                    @item.ToAddress
                </td>
                <td>
                    @item.Date
                </td>
                <td>
                    @item.UserId
                </td>

            </tr>
        }
    </tbody>
</table>

</div>