@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
@{
    ViewData["Title"] = "IncomeTransactions";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h1 class="display-4">Income Transactions</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="transactions-table" class="table table-centered w-100 nowrap">
                        <thead>
                            <tr class="table-primary">
                                <th>Date</th>
                                <th>Currency Acronim</th>
                                <th>Amount</th>
                                <th>TransactionFee</th>
                                <th>From Address</th>
                                <th>To Address</th>
                                <th>Hash</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.IncomeTransactions)
                            {
                                <tr>
                                    <td>
                                        @item.CreatedDate.ToString("yyyy-MM-dd HH:mm:ss")
                                    </td>
                                    <td>
                                        @item.CurrencyAcronim
                                    </td>
                                    <td>
                                        <span class="decimal-data">@item.Amount</span>
                                    </td>
                                    <td>
                                        <span class="decimal-data">@item.TransactionFee</span>
                                    </td>
                                    <td>
                                        @item.FromAddress
                                    </td>
                                    <td>
                                        @item.ToAddress
                                    </td>
                                    <td>
                                        @item.TransactionHash
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="products-datatable_paginate">
                            <ul class="pagination pagination-rounded">
                                @if (Model.PageViewModel.PageNumber == 1)
                                {
                                    <li class="paginate_button page-item next" id="products-datatable_next">
                                        <a href="/Stats/IncomeTransactions?page=@(Model.PageViewModel.PageNumber)" class="page-link" tabindex="-1" aria-disabled="true">
                                            Previous
                                        </a>
                                    </li>
                                }
                                @if (Model.PageViewModel.HasPreviousPage)
                                {
                                    <li class="paginate_button page-item next" id="products-datatable_next">
                                        <a href="/Stats/IncomeTransactions?page=@(Model.PageViewModel.TotalPages - 1)" class="page-link">
                                            Previous
                                        </a>
                                    </li>
                                    <li class="paginate_button page-item previous">
                                        <a href="/Stats/IncomeTransactions?page=@(Model.PageViewModel.PageNumber - 1)" class="page-link">
                                            @(Model.PageViewModel.PageNumber - 1)
                                        </a>
                                    </li>
                                }
                                <li class="paginate_button page-item active">
                                    <a href="/Stats/IncomeTransactions?page=@Model.PageViewModel.PageNumber" class="page-link">
                                        @Model.PageViewModel.PageNumber
                                    </a>
                                </li>
                                @if (Model.PageViewModel.HasNextPage)
                                {
                                    <li class="paginate_button page-item">
                                        <a href="/Stats/IncomeTransactions?page=@(Model.PageViewModel.PageNumber + 1)" class="page-link">
                                            @(Model.PageViewModel.PageNumber + 1)
                                        </a>
                                    </li>
                                    <li class="paginate_button page-item">
                                        <a href="/Stats/IncomeTransactions?page=@(Model.PageViewModel.PageNumber + 1)" class="page-link">
                                            Next
                                        </a>
                                    </li>
                                    <li class="paginate_button page-item next">
                                        <a href="/Stats/IncomeTransactions?page=@Model.PageViewModel.TotalPages" class="page-link">
                                            Last
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/vendor/jquery.dataTables.min.js"></script>
<script src="/js/vendor/dataTables.bootstrap5.js"></script>
<script src="/js/vendor/dataTables.responsive.min.js"></script>
<script src="/js/vendor/responsive.bootstrap5.min.js"></script>

<script>
    $(document).ready(function () {
        $('#transactions-table').DataTable({
            "order": [[0, "desc"]],
            "pageLength": 500,
            "paging": false,
            "language": {
                "info": "Showing _START_ to _END_ of _TOTAL_ pairs"
            },
            "dom": "frtip"
        });
    });
</script>