@{
    ViewData["Title"] = "Orders";
}

<div class="row">

    <table id="ClosedOrders" class="table table-striped table-centered mb-0">
        <thead>
        <tr class="table-primary">
            <th>Create Date</th>
            <th>Closed Date</th>
            <th>Exposed Price</th>
            <th>Difference</th>
            <th>Total Price</th>
            <th>Amount</th>
            <th>Total</th>
            <th>Status</th>
            <th>Create User Id</th>
            <th>Bought User Id</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.ClosedOrders)
        {
            <tr>
                <td>
                    @item.CreateDate
                </td>
                <td>
                    @item.ClosedDate
                </td>
                <td>
                    @item.ExposedPrice
                </td>
                <td>
                    @item.TotalPrice
                </td>
                <td>
                    @item.Amount
                </td>
                <td>
                    @item.Total
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    @item.CreateUserId
                </td>

                <td>
                    @item.BoughtUserId
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>