@model List<OutcomeTransactionTableModel>

@{
    ViewData["Title"] = "Stats";
}

<div class="row">

    <table id="WithdrawTransactionRepository" class="table table-striped table-centered mb-0">
        <thead>
        <tr class="table-primary">
            <th>From Wallet Id</th>
            <th>To Address</th>
            <th>Value</th>
            <th>Create Date</th>
            <th>Currency Acronim</th>
            <th>State</th>
            <th>Last Update Date</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.FromWalletId
                </td>
                <td>
                    @item.ToAddress
                </td>
                <td>
                    @item.Value
                </td>
                <td>
                    @item.CreateDate
                </td>
                <td>
                    @item.CurrencyAcronim
                </td>
                <td>
                    @item.State
                </td>
                <td>
                    @item.LastUpdateDate
                </td>

            </tr>
        }
        </tbody>
    </table>
</div>