@{
    ViewData["Title"] = "Wallets";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h1 class="display-4">Wallets</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">


                <h4>Platform wallets (only for inner transactions):</h4>
                <div class="table-responsive">
                    <table id="balanceWalletsList" class="table table-striped table-centered mb-0">
                        <thead>
                            <tr class="table-primary">
                                <th>Currency</th>
                                <th>Balance</th>
                                <th>Address</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.UserWallets)
                            {
                                <tr>

                                    <td>
                                        @item.CurrencyAcronim
                                    </td>
                                    <td>
                                        <span class="decimal-data">@item.Value</span>
                                    </td>
                                    <td>
                                        @item.Address
                                    </td>
                                    <td>
                                        <p><a href="/Withdraw?currency=@item.CurrencyAcronim">Withdraw @item.CurrencyAcronim</a></p>
                                        <p><a href="/Send/Coins?Currency=@item.CurrencyAcronim">Send @item.CurrencyAcronim</a></p>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <hr />

                <h4>Create income blockchain wallet(address):</h4>
                <form asp-action="Create" method="post">
                    <div class="input-group">
                        <label class="input-group-text" for="inputGroupSelect01">Currency</label>
                        <select name="selectCurrency" class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                            @foreach (var item in Model.Currencies)
                            {
                                if (@item.NodeIsReady)
                                {
                                    <option value="@item.Acronim">@item.Acronim</option>
                                }
                                else
                                {
                                    <option disabled="disabled"  value="@item.Acronim">@item.Acronim (not ready)</option>
                                }
                                
                            }
                        </select>
                        <button id="createButton" class="btn btn-success" type="submit">Сreate</button>
                    </div>
                </form>
                <hr />

                <h4>Income wallets(addresses):</h4>
                <div class="table-responsive">
                    <table id="addressList" class="table table-striped table-centered mb-0">
                        <thead>
                            <tr class="table-primary">
                                <th>Currency</th>
                                <th>Address</th>
                                <th></th>
                                <th>Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.UserIncomeWallets)
                            {
                                <tr>
                                    <td>
                                        @item.CurrencyAcronim
                                    </td>
                                    <td>
                                        @item.Address
                                        <span class="ms-2">
                                             <i class="dripicons-copy stats-links" title="Click to copy"                                                 
                                                onClick="@("return copyTextToClipboard(\"" +
                                                            item.Address +
                                                            "\",\"Wallet addres copied to clipboard\")")">
                                             </i>
                                         </span>
                                    </td>
                                    <td>
                                        @if (item.QrCode != null)
                                        {
                                            var qrCode = String.Format("data:image/png;base64,{0}", Convert.ToBase64String(item.QrCode));

                                            <img class="qrcode-img" src="@qrCode" onclick="@("return showModalQr(\""+qrCode+"\")")")" />

                                            <div class="popup-qr-container" onclick="closeModalQr()">
                                                <img class="modal-qrcode-content"/>
                                            </div>
                                        }
                                    </td>
                                    <td>
                                        @item.Created.ToString("dd-MM-yyyy HH:mm:ss")
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#selectCurrency option:first").attr('selected', 'selected');
        //$("#selectCurrency option:first").prop("selected", "selected");

        $("#createButton").click(function () {
            var currency = $('#selectCurrency').find(":selected").val();;
            createWallet(currency);
        });
    });

    function createWallet(currency) {
        var url = "/wallets/create/" + currency;
        $.get(url, function (data) {
            var address = data;

            $("#walletsList").append('<li>' + data.id + ' ' + data.currencyAcronim + ' ' + data.value + ' ' + data.address + '</li>');


        });
    }

</script>