@{
    ViewData["Title"] = "Wallets";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        $("#selectCurrency option:first").attr('selected', 'selected');
        //$("#selectCurrency option:first").prop("selected", "selected");

        $("#createButton").click(function () {
            var currency = $('#selectCurrency').find(":selected").val();;
            createWallet(currency);
        });
    });

    function createWallet(currency) {
        var url = "/wallets/create/" + currency;
        $.get(url, function (data) {
            var address = data;

            $("#walletsList").append('<li>' + data.id + ' ' + data.currencyAcronim + ' ' + data.value + ' ' + data.address + '</li>');


        });
    }
</script>
<style>
    .row {
        width: 170px;
    }

    .column {
        float: left;
        width: 50%;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    #balanceWalletsList ul > li {
        display: inline-block;
        /* You can also add some margins here to make it look prettier */
        zoom: 1;
        *display: inline;
        /* this fix is needed for IE7- */
    }
</style>

<div class="text-center">
    <h1 class="display-4">Wallets</h1>
</div>

Balance:
<ul id="balanceWalletsList">
    @foreach (var item in Model.UserWallets)
    {
        <li>
            @item.CurrencyAcronim : @item.Value
        </li>
    }
</ul>

Create income wallet:
<form asp-action="Create" method="post">
    <div class="row">
        <div class="column">
            <select name="selectCurrency" id="selectCurrency">
                @foreach (var item in Model.Currencies)
                {
                    <option value="@item.Acronim">@item.Acronim</option>
                }
            </select>
        </div>
        <button id="createButton" type="submit" class="column"><img src="/img/add.png" alt="add" title="add" style="height:25px;" /></button>
    </div>
</form>
<hr />

    Income wallets:
<div>
    <ul id="walletsList">
        <li>
            Id Currency Address Created
        </li>
        @foreach (var item in Model.UserIncomeWallets)
        {
            <li>
                @item.Id @item.CurrencyAcronim @item.Address @item.Created
            </li>
        }
    </ul>
</div>
