@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "P2P";
}

@model P2PViewModel

<div class="text-center">
    <h1 class="display-4">P2P</h1>
</div>

<div class="container" style="margin-top: 20px">
    <div class="row" style="margin-bottom: 10px;">
        <button type="button" id="addP2PButton" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModalCenter">Add P2P Ad</button>
    </div>
    <ul class="nav nav-tabs nav-bordered">
        <input type="checkbox" id="switch1" checked data-switch="bool"/>
        <label for="switch1" data-on-label="Buy" data-off-label="Sell" style="margin-top: 14px;"></label>
        @foreach (var crypt in Model.Crypts)
        {
            <li class="nav-item">
                <a href="@($"/p2p/{crypt.Name}/1")" aria-expanded="false" class="nav-link active py-2" style="background-color: #fafbfe;">
                    @crypt.Name
                </a>
            </li>
        }
    </ul>
    <form class="row gy-2 gx-2 align-items-center justify-content-xl-start justify-content-between" style="margin-top: 10px">
        <div class="col-auto">
            <label for="inputPassword2">Amount</label>
            <input type="search" class="form-control" id="inputPassword2" placeholder="Enter amount...">
        </div>
        <div class="col-auto">
            <div class="align-items-center">
                <label for="status-select" class="me-2">Fiat</label>
                <select class="form-select" id="status-select">
                </select>
            </div>
        </div>
        <div class="col-auto">
            <div class="align-items-center">
                <label for="status-select" class="me-2">Payment</label>
                <select class="form-select" id="status-select">
                    <option selected="">All payments</option>
                </select>
            </div>
        </div>
        <div class="col-auto">
            <div class="align-items-right">
                <label for="status-select" class="me-2">Payment</label>
                <select class="form-select" id="status-select">
                    <option selected="">All payments</option>
                </select>
            </div>
        </div>
    </form>
    <div class="row" style="margin-top:10px">
        <table class="table table-hover table-centered mb-0">
            <thead>
            <tr>
                <th>Advertisers</th>
                <th>Price<span class="badge badge-warning-lighten">lowest to highest</span></th>
                <th>Limit/Available</th>
                <th>Payment</th>
                <th>Trade<span class="badge badge-success-lighten">0 Fee</span></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var seller in Model.P2PSellers)
            {
                <tr>
                    <td>@seller.UserName</td>
                    <td>@seller.Price @seller.FiatName</td>
                    <td>
                        <div class="row">
                            <span>Available: @seller.Available</span>
                        </div>
                        <div class="row">
                            <span>Limit: @seller.Available</span>
                        </div>
                    </td>
                    <td>
                        @foreach (var payment in seller.Payments)
                        {
                            <span class="badge badge-dark-lighten">payment.Name</span>
                        }
                    </td>
                    <td>
                        <button type="button" class="btn btn-success">Buy USDT</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="border-radius: 100px !important;">
            <div class="modal-body" style="padding: 0rem !important;">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="mb-1 text-center">
                                    <h4>Create P2P Ad</h4>
                                </div>
                                <hr>
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="middle d-flex">
                                            <div class="col-6">
                                                <label>
                                                    <input type="radio" name="radio" checked/>
                                                    <div class="front-end box">
                                                        <span>Buy</span>
                                                    </div>
                                                </label>
                                            </div>
                                            <div class="col-6">
                                                <label>
                                                    <input type="radio" name="radio"/>
                                                    <div class="back-end box">
                                                        <span>Sell</span>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-1 d-flex">
                                    <div class="col-6">
                                        <label class="form-label">Asset</label>
                                        <select class="form-select mb-3">
                                            @foreach (var crypt in Model.Crypts)
                                            {
                                                <option>@crypt.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">With Fiat</label>
                                        <select class="form-select mb-3">
                                            @foreach (var fiat in Model.Fiats)
                                            {
                                                <option>@fiat.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3 form-margins">
                                    <label class="form-label">Price</label>
                                    <input data-toggle="touchspin" class="form-control" type="text" value="0">
                                </div>
                                <div class="mb-4 form-margins">
                                    <label class="form-label">Total amount</label>
                                    <div class="input-group flex-nowrap">
                                        <input type="text" class="form-control" placeholder="Enter total trading quantity">
                                        <span class="input-group-text" id="basic-addon1">USDT</span>
                                    </div>
                                </div>
                                <div class="mb-1 form-margins">
                                    <label class="form-label">Payments (Select 5 methods)</label>
                                    <div class="input-group flex-nowrap">
                                        <select multiple data-placeholder="Add tools">
                                            @foreach (var payment in Model.Payments)
                                            {
                                                <option>@payment.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3 form-margins">
                                    <label class="form-label">Payment Time Limit</label>
                                    <select class="form-select mb-3">
                                        @foreach (var timeFrame in Model.TimeFrames) 
                                        {
                                            <option>@timeFrame.ViewName</option>
                                        }
                                    </select>
                                </div>
                                <hr>
                                <div class="mb-1 text-center d-flex">
                                    <div class="col-6">
                                        <button class="btn btn-light" data-dismiss="modal">Close</button>
                                    </div>
                                    <div class="col-6">
                                        <button class="btn btn-primary" type="submit">Create</button>
                                    </div>
                                </div>
                            </div> <!-- end col-->
                        </div><!-- end row -->
                    </div> <!-- end card-body -->
                </div> <!-- end card-->
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" asp-append-version="true" href="~/css/pages/p2p.css"/>

<script>
    $(document).ready(function() {
    
        var select = $('select[multiple]');
        var options = select.find('option');
    
        var div = $('<div />').addClass('selectMultiple');
        var active = $('<div />');
        var list = $('<ul />');
        var placeholder = select.data('placeholder');
    
        var span = $('<span />').text(placeholder).appendTo(active);
    
        options.each(function() {
            var text = $(this).text();
            if($(this).is(':selected')) {
                active.append($('<a />').html('<em>' + text + '</em><i></i>'));
                span.addClass('hide');
            } else {
                list.append($('<li />').html(text));
            }
        });
    
        active.append($('<div />').addClass('arrow'));
        div.append(active).append(list);
    
        select.wrap(div);
    
        $(document).on('click', '.selectMultiple ul li', function(e) {
            var select = $(this).parent().parent();
            var li = $(this);
            if(!select.hasClass('clicked')) {
                select.addClass('clicked');
                li.prev().addClass('beforeRemove');
                li.next().addClass('afterRemove');
                li.addClass('remove');
                var a = $('<a />').addClass('notShown').html('<em>' + li.text() + '</em><i></i>').hide().appendTo(select.children('div'));
                a.slideDown(400, function() {
                    setTimeout(function() {
                        a.addClass('shown');
                        select.children('div').children('span').addClass('hide');
                        select.find('option:contains(' + li.text() + ')').prop('selected', true);
                    }, 500);
                });
                setTimeout(function() {
                    if(li.prev().is(':last-child')) {
                        li.prev().removeClass('beforeRemove');
                    }
                    if(li.next().is(':first-child')) {
                        li.next().removeClass('afterRemove');
                    }
                    setTimeout(function() {
                        li.prev().removeClass('beforeRemove');
                        li.next().removeClass('afterRemove');
                    }, 200);
    
                    li.slideUp(400, function() {
                        li.remove();
                        select.removeClass('clicked');
                    });
                }, 600);
            }
        });
    
        $(document).on('click', '.selectMultiple > div a', function(e) {
            var select = $(this).parent().parent();
            var self = $(this);
            self.removeClass().addClass('remove');
            select.addClass('open');
            setTimeout(function() {
                self.addClass('disappear');
                setTimeout(function() {
                    self.animate({
                        width: 0,
                        height: 0,
                        padding: 0,
                        margin: 0
                    }, 300, function() {
                        var li = $('<li />').text(self.children('em').text()).addClass('notShown').appendTo(select.find('ul'));
                        li.slideDown(400, function() {
                            li.addClass('show');
                            setTimeout(function() {
                                select.find('option:contains(' + self.children('em').text() + ')').prop('selected', false);
                                if(!select.find('option:selected').length) {
                                    select.children('div').children('span').removeClass('hide');
                                }
                                li.removeClass();
                            }, 400);
                        });
                        self.remove();
                    })
                }, 300);
            }, 400);
        });
    
        $(document).on('click', '.selectMultiple > div .arrow, .selectMultiple > div span', function(e) {
            $(this).parent().parent().toggleClass('open');
        });
    
    });

    $(document).ready(function() {       
        
        if (window.location.href.includes("sell")){
            $('#switch1').prop('checked', false);
        }
        else
        {
            $('#switch1').prop('checked', true);
        }
        
        $('#switch1').change(function() {
            if(this.checked) {
                window.location.replace(window.location.href.split('/')[0] + "/p2p/buy/USDT/1")
            }  
            else
            {
                window.location.replace(window.location.href.split('/')[0] + "/p2p/sell/USDT/1")
            }
        });
    });
</script>