@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Closed orders";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h1 class="display-4">Closed orders</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="ClosedOrders" class="table table-striped table-centered mb-0">
                        <thead>
                            <tr class="table-primary">
                                <th>Pair</th>
                                <th>Price</th>
                                <th>Amount</th>
                                <th>Total</th>
                                <th>Create date-time</th>
                                <th>Closed date-time</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in Model)
                            {
                                <tr class="@(order.IsBuy ? "td-buy" : "td-sell")">
                                    <td>@order.Currency1 @order.Currency2</td>
                                    <td><span class="decimal-data">@order.StartPrice</span> @order.Currency2</td>
                                    <td><span class="decimal-data">@order.Amount</span> @order.Currency1</td>
                                    <td><span class="decimal-data">@order.Total</span> @order.Currency2</td>
                                    <td>@order.CreateDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                    <td>@order.ClosedDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                    <td>@(order.Status.ToString())</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .card-body {
        padding-left: 0 !important;
        padding-top: 1rem;
        padding-right: 1rem;
    }

    .row > * {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .table > :not(caption) > * > * {
        padding: 0.5rem 0.5rem !important;
    }
</style>