@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Closed orders";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1 class="display-4">Closed orders</h1>
    </div>

    <div class="orderbook-wrap">
        <div class="orderbook" style="height: 1000px !important; width: 1540px !important; max-width: 1540px !important;">
            <div class="orderbook-header"></div>
            <div class="orderbook-tbheader">
                <div class="orderbook-tbheader-col orderbook-col-small">Pair</div>
                <div class="orderbook-tbheader-col">Price</div>
                <div class="orderbook-tbheader-col">Amount</div>
                <div class="orderbook-tbheader-col">Total</div>
                <div class="orderbook-tbheader-col orderbook-col-date__small">Create date-time</div>
                <div class="orderbook-tbheader-col orderbook-col-date__small">Closed date-time</div>
                <div class="orderbook-tbheader-col">Status</div>
            </div>
            <div class="orderbook-container">
                <div class="orderbook-list orderbook-list-bids orderbook-asks" style="width: 1540px !important; max-height: 970px !important;">
                    @foreach (var order in Model)
                    {
                        <div class="orderbook-row@(order.IsBuy ? " orderbook-asks" : " orderbook-bids")">
                            <div class="orderbook-col orderbook-col-small">@order.Currency1 @order.Currency2</div>
                            <div class="orderbook-col@(order.IsBuy ? string.Empty : " orderbook-bids")">@order.ExposedPrice</div>
                            <div class="orderbook-col">@order.Amount</div>
                            <div class="orderbook-col">@order.Total</div>
                            <div class="orderbook-col orderbook-col-date__small">@(order.CreateDate.ToString("hh:mm:ss"))</div>
                            <div class="orderbook-col orderbook-col-date__small">@(order.ClosedDate.ToString("hh:mm:ss"))</div>
                            <div class="orderbook-col">@(order.Status.ToString())</div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

<style>
    .container {
        max-width: 1540px;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
    (document.getElementsByClassName("orderbook-col")).forEach(x => {
        x.innerHTML = x.innerHTML.toString();
    });
</script>