@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model List<PairsTableModel>

@{
    ViewData["Title"] = "Markets";
}

<div class="row">
    <div class="col-xl-12 col-lg-12 order-lg-2 order-xl-1">
        <div class="card" style="margin: 10px 0 !important;">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap table-hover mb-0">
                        <thead>
                            <tr>
                                <th>
                                    <h5 class="font-14 my-1 fw-normal">Name</h5>
                                </th>
                                <th>
                                    <h5 class="font-14 my-1 fw-normal">Price</h5>
                                </th>
                                <th>
                                    <h5 class="font-14 my-1 fw-normal">Change 24h</h5>
                                </th>
                                <th>
                                    <h5 class="font-14 my-1 fw-normal">Change 1h</h5>
                                </th>
                                <th>
                                    <h5 class="font-14 my-1 fw-normal">Volume 24h</h5>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var pair in Model)
                            {
                                <tr>
                                    <td>
                                        <a href="/trade/crypto/@pair.Acronim" class="font-14 my-1 fw-normal">@pair.Header</a>
                                    </td>
                                    <td>
                                        <span class="font-14 my-1 fw-normal pair-data">@pair.Price</span>
                                    </td>
                                    <td>
                                        <span class="font-14 my-1 fw-normal pair-data">@pair.Change24h</span>%
                                    </td>
                                    <td>
                                        <hspan5 class="font-14 my-1 fw-normal pair-data">@pair.Change1h</hspan5>%
                                    </td>
                                    <td>
                                        <span class="font-14 my-1 fw-normal pair-data">@pair.Volume24h</span>$
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div> <!-- end table-responsive-->
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->

    <div class="col-xl-3 col-lg-6 order-lg-1">
        <div class="card">
            <div class="card-body">
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->

    <div class="col-xl-3 col-lg-6 order-lg-1">
        <div class="card">
            <div class="card-body">
            </div>
            <!-- end card-body -->
        </div>
        <!-- end card-->
    </div>
    <!-- end col -->

</div>
<!-- end row -->

<div class="text-center" id="page-header">
    <h1 class="display-4">Trades</h1>
    <br />
    @if (SignInManager.IsSignedIn(User))
    {
        <a href="/Trade/OpenOrders">Open orders</a>
        <a href="/Trade/ClosedOrders">Closed orders</a>
    }

</div>

<script>
    $(document).ready(function () {
        $('.pair-data').each(function() {
                var ttt = $(this).text();
                ttt = ttt.replace(",", ".");
                var ggg = ttt.toString();

                for (var i = 1; ggg.length > 0; i++) {
                    var lastChar = ggg.substr(ggg.length - 1);
                    var last2xChar = ggg.substr(ggg.length - 3, ggg.length - 2);
                    if(last2xChar.charAt(0) == '.' || last2xChar.charAt(0) == ',') break;
                    if(lastChar == '0'){
                        ggg = ggg.slice(0, -1);
                    }
                    else break;
                }

                $(this).text(ggg);
                
                var ddd = 10;
            });
        });
</script>