@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model List<PairsTableModel>

@{
    ViewData["Title"] = "Markets";
}

<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />


<div class="row">
    <div class="col-xl-12 col-lg-12 order-lg-2 order-xl-1">
        <div class="card" style="margin: 10px 0 !important;">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="markets-table" class="table dt-responsive table-centered table-nowrap table-hover mb-0">
                        <thead>
                            <tr>
                                <th>
                                    <h5 class="font-14 my-1 fw-normal">Name</h5>
                                </th>
                                <th>
                                    <h5 class="font-14 my-1 fw-normal">Price</h5>
                                </th>
                                <th>
                                    <h5 class="font-14 my-1 fw-normal">Change 24h</h5>
                                </th>
                                <th>
                                    <h5 class="font-14 my-1 fw-normal">Change 1h</h5>
                                </th>
                                <th>
                                    <h5 class="font-14 my-1 fw-normal">Volume 24h</h5>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var pair in Model)
                            {
                                <tr>
                                    <td>
                                        <a href="/trade/crypto/@pair.Acronim" class="font-14 my-1 fw-normal">@pair.Header</a>
                                    </td>
                                    <td>
                                        <span class="font-14 my-1 fw-normal decimal-data">@pair.Price</span> @pair.Currency2Postfix
                                    </td>
                                    <td>
                                        <span class="font-14 my-1 fw-normal">@pair.Change24h</span> %
                                    </td>
                                    <td>
                                        <span class="font-14 my-1 fw-normal">@pair.Change1h</span> %
                                    </td>
                                    <td>
                                        <span class="font-14 my-1 fw-normal decimal-data">@pair.Volume24h</span> $
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div> <!-- end table-responsive-->
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->
</div>
<!-- end row -->

<div class="text-center" id="page-header">
    <h1 class="display-4">Trades</h1>
    <br />
    @if (SignInManager.IsSignedIn(User))
    {
            <a href="/Trade/OpenOrders">Open orders</a>
            <a href="/Trade/ClosedOrders">Closed orders</a>
    }

</div>

<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#markets-table').DataTable();
    });
</script>